<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="\bootstrap\dist\css\bootstrap.min.css">
    <title>Document</title>
  </head>

  <body class="bg-warning">
    <h1>Urunler</h1>
    <p><%= urunler[0].name %> <%= urunler[0].price %></p>
    <ul>
      <% urunler.forEach(urun => { %> <% if (urun.price >="40000 TL" &&
      urun.isActive) { %>
      <li>
        <a href="/products/ <%= urun.id %>">
          <%= urun.name %> - <%= urun.price %>
        </a>
      </li>
      <% } %>
       <% }) %>
    </ul>
  </body>
</html>
